---
# OpenAPI Spec for the KongAir Bookings service
openapi: 3.0.0

info:
  description: KongAir Bookings service provides customers the ability to book and retrieve flight bookings on KongAir
  version: 0.1.0
  title: Bookings Service
  contact:
    name: Kong Inc.

servers:
- url: https://api.kong-air.com
  description: KongAir API Server
  
tags:
  - name: sales

paths:
  /health:
    get:
      summary: Health check endpoint for Kubernetes
      description: Endpoint that returns the service health status.
      operationId: get-health
      tags:
        - sales
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "OK"
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "unhealthy"
  "/bookings":
    get:
      tags:
      - sales
      summary: Get a customers current bookings
      description: Returns bookings for a customer
      operationId: get-bookings
      parameters:
        - name: x-consumer-username
          in: header
          description: Username ID
          required: true
          example: dfreese
          schema:
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
              examples:
                Example Bookings list response:
                  value: |
                    [{
                      "ticket_number": "CDF3412",
                      "seat": "32A",
                      "flight": {
                        "number": "KA924",
                        "route_id": "LHR-SFO",
                        "scheduled_departure": "2023-09-03T09:15:00Z",
                        "scheduled_arrival": "2023-09-03T14:23:00Z"
                      }
                    }]
        '401':
          description: Unauthorized
    post:
      tags:
        - sales
      summary: Create a new customer booking
      description: Creates a new booking for a customer
      operationId: post-booking
      parameters:
        - name: x-consumer-username
          in: header
          description: Username ID
          required: true
          example: dfreese
          schema:
            type: string
      responses:
        '201':
          description: Booking Created Successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
              examples:
                Example new booking response body:
                  value: |
                   {
                    "ticket_number": "CDF3412"
                   }
        '400':
          description: Invalid JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "{\"message\":\"Unexpected token '\"', \"#\" is not valid JSON\"}"
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "{\"message\":\"unsupported media type undefined\",\"errors\":[{\"path\":\"/bookings\",\"message\":\"unsupported media type undefined\"}]}"
        '401':
          description: Unauthorized
        '404':
          description: Not Found, likely for the flight_number given
          content:
            text/plain:
              schema:
                type: string
              example: Not found
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
            examples:
              Example new booking request body:
                value: |
                 {
                   "flight_number": "KA0284",
                   "seat": "32A"
                 }

components:
  schemas:
    Booking:
      type: object
      properties:
        ticket_number:
          type: string
        flight:
          type: object
          properties:
            number:
              type: string
            route_id:
              type: string
            scheduled_departure:
              type: string
              format: date-time
            scheduled_arrival:
              type: string
              format: date-time
        seat:
          type: string
      required:
        - ticket_number
        - flight
    BookingRequest:
      type: object
      properties:
        flight_number:
          type: string
        seat:
          type: string
      required:
        - flight_number
    BookingResponse:
      type: object
      properties:
        ticket_number:
          type: string
      required:
        - ticket_number
